*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(255, 217, 217)), to(rgb(78, 78, 212)));
}

#heading{
    font-size: 5vw;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: .2vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main{
    border-radius: 0px;
    background: linear-gradient(120deg,rgba(90, 90, 166, 0.568), rgba(255, 217, 217, 0.618));
    box-shadow:  18px 18px 50px #090000, -10px -10px 50px #ffffff;
    position: relative;    
}

.div1{
    display: flex;
}

.div{
    width: 9vw;
    height: 9vw;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 1px;
    border-radius: 10px;
}

/* button{
    font-size: 1.6vw;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    border: none;
    margin-left: 70vw;
    position: relative;
} */

.gameResult{
    font-size: 3vw;
    margin-top: 10px;
    text-align: center;
    /* text-transform: capitalize; */
}

button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 5px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    margin-top: 4vw;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }
  

  .div:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    /* box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff; */
  }
  

  @media(max-width: 650px){
    
    #heading{
        font-size: 12vw;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-top: 30.5vw;
        margin-bottom: 2.5vw;
    }
    

    .div1{
        display: flex;
    }
    
    .div{
        width: 22vw;
        height: 22vw;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 7vw;
        margin: 1px;
        border-radius: 10px;
    }
    
    .gameResult{
        font-size: 7vw;
        margin-top: 10px;
        text-align: center;
        /* text-transform: capitalize; */
    }
    
    button {
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
        text-shadow: none;
        background: transparent;
        cursor: pointer;
        box-shadow: transparent;
        border: 5px solid #ffffff80;
        transition: 0.5s ease;
        user-select: none;
        margin-top: 15vw;
      }
  }
